.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin-top: 6vw;
}
.pag{
    display: flex;
    flex-direction: column;
}